<div class="terms">
    <div class="termTitle">
		Terms and conditions:
	</div>
	<br/>
	<div class="termText">
	Brand<span class="be-font-bold">Edge</span> provides Country/IOT Leadership access to confidential information for their markets to enable proactive management of the IBM brand to drive business outcomes.<br/> 
	<br/>
	<ul style="list-style-type: disc;">
		<li>Access to the system is restricted to Country General Managers, Country Marketing Leaders and their designated representatives</li>
		<li>Users may view their own country/IOT information only</li>
		<li>Information in the system may not be shared without country leadership permission</li>
	</ul>
	<br/>
	<span class="be-font-bold">The information contained in the BrandEdge system is IBM confidential. Unauthorized access, copying, and sharing of any information in part or in whole could have severe negative business consequences as well as violate IBM business conduct guidelines and/or  legal and regulatory requirements.</span> 
	<br/>
	<br/>
	<span class="be-font-light-italic">Please click here to acknowledge you understand and accept the confidential nature of the BrandEdge system and that your actions will comply with the spirit and letter of the IBM value of "trust and personal responsibility in all relationships".</span>  

	</div>
	<br/>
	<div class="termsClose">
		<button class="accept-button" data-ng-click="closePopup()">Access Brand<span class="bold-text">Edge</span></button>
	</div>
	<br/>
	<br/>
	<div class="termsSupport">
		<button class="accept-button" data-ng-click="closePopupLaunchSupport()">
			Please click here to be taken to the BrandEdge user support <br/>
			community for further guidance and a list of authorized users.<br/>
			You may also send an email to BrandEdge/Chicago/IBM -- <br/>
			please allow up to two business days for a response.
		</button>
	</div> 
	<br/>
	<span class="be-font-bold">Thank you for using BrandEdge.  Users may be contacted by the administrator to enhance functionality.</span>
</div>