<div id="influencersId" style="text-align: center;">
<data-be-table-tab data-be-id="influencer-menu" data-be-text="Belief,Action,Advocacy" data-be-click="tableClick"></data-be-table-tab>
<br/>
<data-be-table-tab data-be-id="influencer-menu-top" data-be-text="Market View,Category,IBMer,External"
					data-be-sub-text='{"Category":[ {"name":"Cognitive","icon":"Cognitive"},
													{"name":"Cloud","icon":"Cloud"},
													{"name":"Analytics","icon":"Analytics"},
													{"name":"Mobile","icon":"Mobile"},
													{"name":"Social","icon":"Social"},
													{"name":"Security","icon":"Security"}]}' 
					data-be-click="topTableClick"></data-be-table-tab>
<data-be-table-tab data-be-id="influencer-menu-top-right" data-be-text="Marketplace, IBM-Provided, Marketplace & IBM" data-be-click="topRightTableClick"></data-be-table-tab>

</div>

<div data-ui-view>

</div>