
<div class="filter" style="">
    <div class="calendar">
        <div class="v-middle">
            <a href="#" ng-click="$event.preventDefault();"  class="selector-icon icon-calendar2x"></a>
            <div class="text be-font-12">
                <div class="v-middle">Current</div>
            </div>
        </div>
    </div>
    <div class="selector">
        <div class="v-middle">
            <a href="#" ng-click="$event.preventDefault();" class="selector-icon icon-selector2x"></a>
            <div class="text be-font-12">
                <div class="v-middle">All competitors</div>
            </div>
        </div>
    </div>
</div>