<div data-be-alert class="login-alerts"></div>

<div style="text-align: center;" data-dw-loading="charts" data-dw-loading-options="$root.spinnerOptions">
	<div class="row>">
		<div data-be-build="growthGapToMarket" data-be-type="table" data-be-margin="margin2"></div>
		<div data-be-build="marketshare" data-be-type="bar"></div>
		<div data-be-build="preference" data-be-type="bar"></div>
		<div data-be-build="engagement" data-be-type="bar"></div>
		<div data-be-build="proposal" data-be-type="bar"></div>
		<div data-be-build="factoredPipeline" data-be-type="table" data-be-margin="margin2"></div>
		<div data-be-build="revenuePerClient" data-be-type="table" data-be-margin="margin2"></div>
		<div data-be-build="newClientAcquisition" data-be-type="table" data-be-margin="margin2"></div>
		<div data-be-build="clientAttrition" data-be-type="table" data-be-margin="margin2"></div>
	</div>
</div>