<div data-be-alert class="login-alerts"></div>

<div style="text-align: center;" data-dw-loading="charts" data-dw-loading-options="$root.spinnerOptions">
	<div class="row>">
		<div data-be-build="recommended" data-be-type="bar"></div>
		<div data-be-build="socialsentiment" data-be-type="stackedBar"></div>
		<div data-be-build="traditionalmedia" data-be-type="stackedBar"></div>
		<div data-be-build="likelihood" data-be-type="bar"></div>
		<div data-be-build="socialshare" data-be-type="stackedBar"></div>
		<div data-be-build="mediashare" data-be-type="bar"></div>
		<div data-be-build="cemr" data-be-type="table" data-be-margin="margin2" data-be-cem="true"></div>
		<div data-be-build="cemt" data-be-type="table" data-be-margin="margin2" data-be-cem="true"></div>
		<div data-be-build="clientRefProfile" data-be-type="table" data-be-margin="margin2" data-be-alternate-rows="true"></div>
	</div>
</div>